# Data Science Tools and Ecosystem

**Objectives**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Table of Data Science tools
- Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
- python
- R
- Julia

Some of the commonly used libraries used by Data Scientists include

- matplotlib
- pandas
- numpy
- seaborn


|     Data Science Tools         |
|--------------------------------|
|    Jupyter Notebook            |
|    Git                         |
|    Kubernetes                  |
|    MySQL                       |
|    Apache Spark                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tolulope Kuyoro